[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sudo /usr/bin/install-gui
Icon=sidux

Name=sidux-installer
Comment=Install sidux to hd

Categories=sidux
