Source: install-gui
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Joaquim Boura <x-un-i@sapo.pt>,
 Niall Walsh <niallwalsh@celtux.org>
Section: admin
Priority: optional
Build-Depends: debhelper-compat (= 13),
 autotools-dev,
 automake,
 dpkg-dev (>= 1.16.1~),
 libgtk2.0-dev,
 libglade2-dev,
 imagemagick
Standards-Version: 3.9.6
Vcs-Browser: https://github.com/fullstory/install-gui
Vcs-Git: git://github.com/fullstory/install-gui.git

Package: install-gui
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 fdisk,
 fll-installer-common (>= 0.13.30),
 fll-installer (>= 0.8.6),
 fll-live-initscripts (>= 2.0.64),
 gdisk,
 psmisc,
 ssft,
 udev
Recommends: menu,
 gparted | partitionmanager
Description: aptosid install-gui for fll-installer
 This is an aptosid install-gui who makes it easy to configure the config file
 (~/.sidconf) and start the aptosid-installer script.
 .
 This is a FULLSTORY live-only package and should not be installed to an
 ordinary system.

Package: fll-installer-common
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 udev,
 distro-defaults,
 fdisk
Recommends: install-gui (>= 0.8.10) | cliinstaller (>= 0.2.6)
Description: aptosid common scripts used by the installer frontends
 Collection of useful scripts that can be used by the fll-installer frontends.
 .
 This is a FULLSTORY live-only package and should not be installed to an
 ordinary system.
