Source: install-gui
Section: admin
Priority: extra
Maintainer: Horst Tritremmel <hjt@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 5), autotools-dev, automake1.9, libgtk2.0-dev, libglade2-dev
Standards-Version: 3.7.2

Package: install-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, knx-installer, rebuildfstab, install-meta
Description: sidux install-gui for knx-installer
 This is an sidux install-gui who makes it easy to configure the config file
 (~/.sidconf) and start the sidux-installer script.
