Source: install-gui
Section: admin
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Joaquim Boura <x-un-i@berlios.de>
Build-Depends: debhelper (>= 7.9.3),
 autotools-dev,
 automake,
 libgtk2.0-dev,
 libglade2-dev,
 imagemagick
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.berlios.de/fullstory/install-gui/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/install-gui/trunk/

Package: install-gui
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 fll-installer-common (>= 0.8.10),
 fll-installer (>= 0.8.6),
 aptosid-scripts (>= 0.2.6),
 fll-live-initscripts (>= 2.0.64),
 psmisc,
 ssft,
 udev (>= 0.146),
 util-linux (>= 2.16.1)
Recommends: install-usb-gui,
 menu,
 gparted | partitionmanager
Description: aptosid install-gui for fll-installer
 This is an aptosid install-gui who makes it easy to configure the config file
 (~/.sidconf) and start the aptosid-installer script.
 .
 This is a FULLSTORY live-only package and should not be installed to an
 ordinary system.

Package: fll-installer-common
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 udev (>= 0.146),
 util-linux (>= 2.16.1),
 distro-defaults
Recommends: install-gui (>=0.8.10) | cliinstaller (>=0.2.6)
Description: aptosid common scripts used by the installer frontends
 Collection of useful scripts that can be used by the fll-installer frontends.
 .
 This is a FULLSTORY live-only package and should not be installed to an
 ordinary system.
