#!/usr/bin/make -f

%:
	dh ${@}

override_dh_auto_configure:
	autoreconf -fi || :
	dh_auto_configure

override_dh_install:
	DESTDIR=$(CURDIR)/debian/install-gui po/make_po.sh install-gui.mo
	dh_install

override_dh_clean:
	rm -f	depcomp \
		INSTALL \
		missing \
		install-sh \
		configure \
		config.h.in \
		aclocal.m4
	dh_clean

create-icons:
	# requires inkscape and imagemagick to be installed
	@if [ ! -x /usr/bin/convert ]; then \
		echo "ERROR: imagemagick not installed!" ; \
		false ; \
	fi
	@if [ ! -x /usr/bin/inkscape ]; then \
		echo "ERROR: inkscape not installed!" ; \
		false ; \
	fi
	
	for f in install-gui; do \
		[ -r  $(CURDIR)/icons/$${f}.svg ] || false ; \
		for i in 16 22 32 48 64 128; do \
			mkdir -p "icons/hicolor.$${f}/$${i}x$${i}/apps" ; \
			inkscape --export-width=$${i} \
				 --export-height=$${i} \
				 --export-png="$(CURDIR)/icons/hicolor.$${f}/$${i}x$${i}/apps/$${f}.png" \
					$(CURDIR)/icons/$${f}.svg ; \
		done ; \
		mkdir -p "icons/pixmaps.$${f}" ; \
		convert icons/hicolor.$${f}/32x32/apps/$${f}.png icons/pixmaps.$${f}/$${f}.xpm ; \
		convert icons/hicolor.$${f}/16x16/apps/$${f}.png icons/pixmaps.$${f}/$${f}-16.xpm ; \
	done
	for f in install-usb-gui sidux-inst-conf; do \
		mkdir -p "$(CURDIR)/pixmaps" ; \
		[ -r  $(CURDIR)/icons/$${f}.svg ] || false ; \
		inkscape --export-width=48 \
			 --export-height=48 \
			 --export-png="$(CURDIR)/pixmaps/$${f}.png" \
				$(CURDIR)/icons/$${f}.svg ; \
	done
